<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.system.mapper.DishMapper">
    <resultMap id="SysUserMap" type="com.auth.model.shop.Dish"  autoMapping="true"></resultMap>
    <sql id="columns">
        id,name,category_id,price,code,image,description,status,sort,create_time,update_time,create_user,update_user,is_deleted
    </sql>
    <select id="selectPage" resultMap="SysUserMap">
        select <include refid="columns" />
        from dish
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (username like CONCAT('%',#{vo.keyword},'%'))
            </if>
            <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
                and create_time >= #{vo.createTimeBegin}
            </if>
            <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
                and create_time &lt;= #{vo.createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
</mapper>
